<h1>Welcome to Travel Views</h1>

<h3>Here you can post photos from all around the world and checkout
others photos!
</h3>
<div class="wrapper">  
<button onclick="window.location.href='/users'">Go and see the world!</button>
</div>
